.scaleBox{
    width:auto;
    height:auto;
    display:flex;
    position:absolute;
    left:0px;
    top:0px;
    border: 1px solid transparent;
    transform-origin: top left;
}

.editMode {
    border: 1px solid yellow;
}