.task {
    width:auto;
    display:flex;
    flex-direction: row;
    padding-left: 15px;
    padding-right:15px;
}

.task p {
    color: white;
    padding-right:5px;
    width:auto;
    font-size: 20px;
    margin:10px;
    white-space: nowrap;
}

[contenteditable] {
    outline: 0px solid transparent;
}
[contenteditable]:focus {
    color:rgb(177, 177, 177);
    /* background-color: rgb(34, 34, 34); */
    /* background-color: blue; */
}
.leftTask, .rightTask {
    width: 50px;
    height: 25px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    position:absolute;
    border:none;
}

.leftTask {
    transform: translateX(-9px) translateY(-9px) rotateY(0deg) rotate(-45deg);
    /* transform: ; */

}

.rightTask {
    transform: translateX(9px) translateY(9px) rotateY(0deg) rotate(135deg);
    /* transform: ; */  
}

.taskText {
    width:75%;
    margin:0px;
}

.taskBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width:25%;
    margin:0px;
}